BOT_TOKEN=123456:AABBCCDDEEFFGGHHIIJJKK

DB_HOST=influxdb
INFLUXDB_DB=botdb
INFLUXDB_REPORTING_DISABLED=true
INFLUXDB_META_RETENTION_AUTOCREATE=false
INFLUXDB_HTTP_AUTH_ENABLED=true
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=supersecretadminpassword
INFLUXDB_READ_USER=readonly
INFLUXDB_READ_USER_PASSWORD=readonlypassword
INFLUXDB_WRITE_USER=writeonly
INFLUXDB_WRITE_USER_PASSWORD=writeonlypassword
